/*移动遮罩块样式*/
.zoomMask {
    position: absolute;
    width: 145px;
    height: 145px;
    cursor: move;
    background: rgba(0, 122, 204, 0.3);
    background-image: linear-gradient(rgba(255, 255, 255, .8) 1px, transparent 0),
        linear-gradient(90deg, rgba(255, 255, 255, .8) 1px, transparent 0);
    background-size: 4px 4px;
    opacity: 0;
    transition: opacity .2s;
    z-index: 5000;
}

.show {
   opacity: 1;
}

/*放大图片显示样式*/
.zoomWindow {
    border: 1px solid #666;
    position: absolute;
    display: none;
    transition: display .2s;
    z-index: 5000;
    overflow: hidden;
}

.windowShow {
    display: block;
}
.windowShow img {
    position: absolute;
}



